@import "./styles/fonts.css";

body {
  margin: 0;
  font-family: "Inter", "Poppins", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
